<table>
    <thead>
    <tr>
        <th rowSpan={3}>Символ</th>
        <th rowSpan={3}>BTC</th>
        <th rowSpan={3}>Текущая стоимость в фиатной валюте</th>
        <th rowSpan={3}>Текущая стоимость в базовой криптовалюте</th>
        <th rowSpan={3}>Мин.цена за 24 часа</th>
        <th rowSpan={3}>Макс. цена за 24 часа</th>
        <th rowSpan={3}>Объем торговли за 24 часа Min Max</th>
        <th colSpan={19}>Волатильность</th>
    </tr>
    <tr>
        <th rowSpan={2}>За 24 часа</th>
        <th colSpan={2}>За 1 мин</th>
        <th colSpan={2}>За 5 мин</th>
        <th colSpan={2}>За 15 мин</th>
        <th colSpan={2}>За 30 мин</th>
        <th colSpan={2}>За 1 час</th>
        <th colSpan={2}>За 2 часа</th>
        <th colSpan={2}>За 4 часа</th>
        <th colSpan={2}>За 6 часов</th>
        <th colSpan={2}>За 12 часов</th>
    </tr>
    <tr>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
        <th>%</th>
        <th>№ ранга</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>ADA</th>
        <td></td>
        <td>0.379498</td>
        <td>0.00009296</td>
        <td>0,00009012</td>
        <td>0,00009351</td>
        <td>105000600</td>
        <td>3,76</td>
        <td>0,36</td>
        <td>1</td>
        <td>0,35</td>
        <td>1</td>
        <td>0,41</td>
        <td>10</td>
        <td>0,48</td>
        <td>10</td>
        <td>0,44</td>
        <td>10</td>
        <td>0,48</td>
        <td>6</td>
        <td>0,55</td>
        <td>6</td>
        <td>0,68</td>
        <td>6</td>
        <td>1,33</td>
        <td>6</td>
    </tr>

    <tr>
        <th>AION</th>
        <td></td>
        <td>0.37990</td>
        <td>0.00009300</td>
        <td>0,00009115</td>
        <td>0,00009369</td>
        <td>105500100</td>
        <td>2,79</td>
        <td>0,35</td>
        <td>2</td>
        <td>0,32</td>
        <td>2</td>
        <td>0,44</td>
        <td>9</td>
        <td>0,55</td>
        <td>9</td>
        <td>0,51</td>
        <td>7</td>
        <td>0,55</td>
        <td>5</td>
        <td>0,69</td>
        <td>5</td>
        <td>0,73</td>
        <td>5</td>
        <td>1,35</td>
        <td>5</td>
    </tr>
    <tr>
        <th>ADX</th>
        <td></td>
        <td>0.37946</td>
        <td>0.00009297</td>
        <td>0,0000915</td>
        <td>0,00009359</td>
        <td>999999</td>
        <td>2,28</td>
        <td>0,345</td>
        <td>3</td>
        <td>0,29</td>
        <td>3</td>
        <td>0,47</td>
        <td>8</td>
        <td>0,62</td>
        <td>8</td>
        <td>0,58</td>
        <td>9</td>
        <td>0,62</td>
        <td>4</td>
        <td>0,83</td>
        <td>4</td>
        <td>0,78</td>
        <td>4</td>
        <td>1,37</td>
        <td>4</td>
    </tr>
    <tr>
        <th>AGI</th>
        <td></td>
        <td>0.37948</td>
        <td>0.00009299</td>
        <td>0,00009181</td>
        <td>0,00009355</td>
        <td>10150200</td>
        <td>1,90</td>
        <td>0,34</td>
        <td>4</td>
        <td>0,26</td>
        <td>4</td>
        <td>0,5</td>
        <td>7</td>
        <td>0,69</td>
        <td>7</td>
        <td>0,65</td>
        <td>8</td>
        <td>0,69</td>
        <td>3</td>
        <td>0,97</td>
        <td>3</td>
        <td>0,83</td>
        <td>3</td>
        <td>1,39</td>
        <td>3</td>
    </tr>
    <tr>
        <th>AE</th>
        <td></td>
        <td>0.37955</td>
        <td>0.00009298</td>
        <td>0,00009063</td>
        <td>0,00009399</td>
        <td>8500000</td>
        <td>3,71</td>
        <td>0,33</td>
        <td>5</td>
        <td>0,23</td>
        <td>5</td>
        <td>0,53</td>
        <td>6</td>
        <td>0,76</td>
        <td>6</td>
        <td>0,72</td>
        <td>6</td>
        <td>0,76</td>
        <td>2</td>
        <td>1,11</td>
        <td>2</td>
        <td>0,88</td>
        <td>2</td>
        <td>1,41</td>
        <td>2</td>
    </tr>
    <tr>
        <th>ETC</th>
        <td></td>
        <td>0.37945</td>
        <td>0.00009296</td>
        <td>0,00009185</td>
        <td>0,00009365</td>
        <td>105500600</td>
        <td>1,96</td>
        <td>0,325</td>
        <td>6</td>
        <td>0,2</td>
        <td>6</td>
        <td>0,56</td>
        <td>5</td>
        <td>0,83</td>
        <td>5</td>
        <td>0,79</td>
        <td>5</td>
        <td>0,83</td>
        <td>1</td>
        <td>1,25</td>
        <td>1</td>
        <td>0,93</td>
        <td>1</td>
        <td>1,43</td>
        <td>1</td>
    </tr>
    <tr>
        <th>ETH</th>
        <td></td>
        <td>0.37946</td>
        <td>0.00009297</td>
        <td>0,00009187</td>
        <td>0,00009331</td>
        <td>105500600</td>
        <td>1,57</td>
        <td>0,32</td>
        <td>7</td>
        <td>0,17</td>
        <td>7</td>
        <td>0,59</td>
        <td>4</td>
        <td>0,9</td>
        <td>4</td>
        <td>0,86</td>
        <td>4</td>
        <td>0,83</td>
        <td>1</td>
        <td>1,25</td>
        <td>1</td>
        <td>0,93</td>
        <td>1</td>
        <td>1,43</td>
        <td>1</td>
    </tr>
    <tr>
        <th>LTC</th>
        <td></td>
        <td>0.37947</td>
        <td>0.00009298</td>
        <td>0,00009189</td>
        <td>0,00009297</td>
        <td>105500600</td>
        <td>1,18</td>
        <td>0,315</td>
        <td>8</td>
        <td>0,14</td>
        <td>8</td>
        <td>0,62</td>
        <td>3</td>
        <td>0,97</td>
        <td>3</td>
        <td>0,93</td>
        <td>3</td>
        <td>0,83</td>
        <td>1</td>
        <td>1,25</td>
        <td>1</td>
        <td>0,93</td>
        <td>1</td>
        <td>1,43</td>
        <td>1</td>
    </tr>
    <tr>
        <th>TRX</th>
        <td></td>
        <td>0.37948</td>
        <td>0.00009299</td>
        <td>0,00009191</td>
        <td>0,00009263</td>
        <td>105500600</td>
        <td>0,78</td>
        <td>0,31</td>
        <td>9</td>
        <td>0,11</td>
        <td>9</td>
        <td>0,65</td>
        <td>2</td>
        <td>1,04</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>0,83</td>
        <td>1</td>
        <td>1,25</td>
        <td>1</td>
        <td>0,93</td>
        <td>1</td>
        <td>1,43</td>
        <td>1</td>
    </tr>
    <tr>
        <th>XRP</th>
        <td></td>
        <td>0.37944</td>
        <td>0.00009295</td>
        <td>0,00009193</td>
        <td>0,00009229</td>
        <td>105500600</td>
        <td>0,39</td>
        <td>0,3</td>
        <td>10</td>
        <td>0,08</td>
        <td>10</td>
        <td>0,68</td>
        <td>1</td>
        <td>1,11</td>
        <td>1</td>
        <td>1,07</td>
        <td>1</td>
        <td>0,83</td>
        <td>1</td>
        <td>1,25</td>
        <td>1</td>
        <td>0,93</td>
        <td>1</td>
        <td>1,43</td>
        <td>1</td>
    </tr>
    </tbody>
</table>